{% extends 'base.html.twig' %}

{% block title %}La boutique française - Page introuvable{% endblock %}

{% block content %}
<div class="block-small">
    <h2>Page introuvable</h2>
    <p>Désolé, cette page ne semble pas être accessible pour le moment.</p>
    <a href="{{ path('home') }}" class="btn btn-info mb-5">Revenir à l'accueil.</a>
</div>
{% endblock %}
